<div class="row">
    <div id="login" class="col s6 offset-s3">
        {{#if error}}
            <p class="alert">{{error}}</p>
        {{/if}}

        <h1>Reseting password</h1>

        <div class="row">
            <form class="col s12" method="POST" action="/auth/password">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" name="password" type="password" class="validate" required>
                        <label for="email">Password</label>
                        <span class="helper-text" data-error="Type in new password" ></span>
                    </div>
                </div>

                <input name="_csrf" type="hidden" value="{{csrf}}">
                <input name="userId" type="hidden" value="{{userId}}">
                <input name="token" type="hidden" value="{{token}}">

                <button type="submit" class="btn btn-primary">Reset password</button>
            </form>
        </div>
    </div>
</div>