<div class="row">
    <div id="login" class="col s6 offset-s3">
        {{#if error}}
            <p class="alert">{{error}}</p>
        {{/if}}

        <h1>Login</h1>

        <div class="row">
            <form class="col s12" method="POST" action="/auth/reset">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" name="email" type="email" class="validate" required>
                        <label for="email">Email</label>
                        <span class="helper-text" data-error="Type in email" ></span>
                    </div>
                </div>

                <input name="_csrf" type="hidden" value="{{csrf}}">

                <button type="submit" class="btn btn-primary">Reset</button>
            </form>
        </div>
    </div>
</div>